/* PRO TIP: Class can be reused accross multiple elements, while id must be unique in a document. */

body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;   /*Usually for vertical alignment */
    height: 100vh; /* This is added so that the body is the whole page not just how big everything is so that center align is better */
}

.calculator-modal{
    width: 450px;
    height: 500px;
    padding: 20px;
    background: black;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 12px;
    z-index: 1000;

    display: grid;
    grid-template-rows: 20% 80%;
    grid-template-areas: 
    "input"
    "keys"
}

.overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 999;
}

.display{
    width: 100%;
    height: 70%;
    border-radius: 10px;
    font-size:5rem;
    text-align: right;

}

.keys{
    grid-area: keys;
    display: grid; 
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

.numerical-button{
    width: 85px;
    height: 85px;
    border-radius: 50px;;
    border: none;
    background-color: rgb(68, 67, 67);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}


.operation-button{
    width: 85px;
    height: 85px;
    border-radius: 50px;;
    border: none;
    background-color: hsl(39, 100%, 50%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

.numerical-button:hover{
    background-color: hsl(0, 0%, 40%);
}

.numerical-button:active{
    background-color: hsl(0, 0%, 50%);
}

.operation-button:hover{
    background-color: hsl(39, 100%, 60%);
}

.operation-button:active{
    background-color: hsl(39, 100%, 70%);
}